/*********** GLOBAL RULES ******************************************************/
html {
    max-width: 2000px;
    height: auto;
    margin: auto;
    padding: 50px;
    font-family: sans-serif;
    font-size: 10px;
}

body {
    width: 99%;
    height: auto;
    margin: 0 auto;
    background-color: rgb(90, 0, 0);
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(250, 150, 0);
    transition: ease-out 0.4s;
}

a:hover {
    color: rgb(250, 230, 50);

    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0 0 30px rgb(250, 150, 0);
    transition: 0.2s;
    cursor: pointer;
}

h2 a:hover, h3 a:hover, h4 a:hover {
    font-size: 110%;
    /* Had to specify and place these selectors separately from the universal a:hover ruleset above since it was making the text in the header links also increase in size whenever hovering. It was causing displacement of other header items. */
}

header, main, footer {
    margin: auto;
}

h1 {
    margin: 0;
    /*Reduce font-size by 1.2 points per each media query*/
    font-size: 7.2rem;
    font-family: "Uncial Antiqua", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 95%;
}

h2 {
    /*Reduce font-size by 0.5 points per each media query*/
    font: 4rem Shrikhand, sans-serif;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
}

h3 {
    /*Reduce font-size by 0.1 points per each media query*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /*To align when text is multiple rows*/
    align-items: center;  /*To align vertically*/
    text-align: center;  /*To align sinle-row text*/
    font: 2rem Shrikhand, sans-serif;
    /*margin: auto;*/
    padding: 0 5px;
    width: auto;
    height: 60px;
}

h4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /*To align when text is multiple rows*/
    align-items: center;  /*To align vertically*/
    font-size: 1.6rem;
    background-color: antiquewhite;
    font-weight: 700;
    margin: auto;
    /*Margin needed to keep h4 container lined to the very bottom and horizontally centered in it's parent container*/

    text-align: center;
    width: auto;
    height: 60px;
    padding: 20px 20px;
}

span {
    /*Reduce font-size by 0.5 points per each media query*/
    font: 4rem Shrikhand, sans-serif;
}

li span {
    /*This is to override the global ruleset for span; it is needed to distinguish li span from global span.*/
    /*Reduce font-size by 0.4 points per each media query*/
    font-size: 3rem;
    padding: 0;
}

p {
    /*Have removed #banner_welcome ruleset entirely in favor of global p ruleset for now.*/
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    font: 3.5rem "Uncial Antiqua", sans-serif;
    color: rgb(240, 240, 240);
}

footer p {
    /*This is to override the global ruleset for p; it is needed to distinguish footer p from global p. Have removed footer section entirely for now.*/
    margin: 20px auto 0 auto;
    font: 1.6rem sans-serif;
}


/*********** HEADER ******************************************************/
header {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 300px;
    justify-content: space-around;
    background-color: rgb(90, 0, 0);
}

#web_title, #logo, nav {
    margin: 10px 0 30px 0;
}

#web_title, nav {
    width: auto;
    height: auto;
}

#web_title {
    text-align: right;
}

#logo {
    /*By specifying the width/size of the parent #logo container you can control the length/size of the child logo-link inside it so that it doesn't span the entire row by default. Otherwise, the logo-link will span the entire length of the header and not just the size of the logo image that is inside it. What you will thus end up with is "empty" sides on both sides of the logo image that are also clickable because the link (NOT the image) is expanded and taking up the entire header row even though you only see the image taking up space in the center.*/
    width: 220px;
    height: auto;
}

#logo img {
    /*You MUST specify "width" so that the image can take up x% of the entire size of the logo-link parent container it is nested in. Otherwise, if you do not specify the width the actual size of the image will be used...image's actual size is half the monitor screen!!!*/
    margin: auto;
    width: 95%;
    border: solid 5px rgb(250, 150, 0);
    border-radius: 50%;
    transition: ease-out 0.4s;
}

#logo img:hover {
    border: solid 5px rgb(250, 230, 50);
    transition: 0.2s;

    /* offset-x | offset-y | blur-radius | color */
    filter: drop-shadow(0 0 30px rgb(250, 150, 0));
    cursor: pointer;
}

ul {
    margin: 0 auto;
    padding: 0;
}

li {
    margin: 0 auto 30px auto;
    list-style-type: none;
    line-height: 95%;
    letter-spacing: 2px;
}


/*********** MAIN ******************************************************/
main {
    border-top: solid 2px rgb(60, 0, 0);
}

#beef_title, #veggie_title {
    background-color: antiquewhite;
    border-bottom: solid 2px rgb(220, 205, 185);
}

#chicken_title {
    background-color: rgb(240, 240, 250);
    border-bottom: solid 2px rgb(210, 210, 220)
}

.beef_burgers, .chicken_burgers, .veggie_burgers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 60px 100px 60px;
}

.beef_burgers, .veggie_burgers {
    background-color: antiquewhite;
}

.chicken_burgers {
    background-color: rgb(240, 240, 250);
}

.beef, .chicken, .veggie {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 360px;
    margin: 20px;
    border: solid rgb(250, 150, 0) 2px;
    background-color: rgb(120, 0, 0);

    /* 0 shadow top | 4px shadow right | 8px shadow bottom | 0px left | rgba color |
       Second set is to add another shadow layer. First shadow set will be thinner and closer to the container edges.
       Second shadow set will be thicker than the first set and will spread out more.
       Using two shadow sets gives the shadow a fade-out effect, like when you go for a haircut. */
    box-shadow: 0 4px 8px 0 rgba(120, 0, 0, 0.5), 0 12px 24px 0 rgba(120, 0, 0, 0.3);
}

.beef img, .chicken img, .veggie img {
    align-self: center;
    width: 85%;
    height: auto;
}


/*********** CREDITS ******************************************************/

.credits_text {
    font-size: 24px;
}

.credits_links {
    font-size: 20px;
}


/*********** ABOUT ME ******************************************************/

.about_text {
    font-size: 24px;
}


/*********** COOKING INFO ******************************************************/

.cook_text {
    font-size: 24px;
}


/*********** MEDIA QUERIES ******************************************************/
@media only screen and (min-width: 1000px) and (max-width: 1400px) and (orientation: landscape), (orientation: portrait) {
    /*****Responsiveness for laptops*****/

    html {
        padding: 20px;
        background-color: yellow;
    }

    h1 {
        /*Reduce font-size by 1.2 points per each media query*/
        font-size: 6rem;
    }

    h2 {
        /*Reduce font-size by 0.5 points per each media query*/
        /*Reduce padding by 10px for each media query*/
        font-size: 3.5rem;
        padding-top: 40px;
    }

    h3 {
        /*Reduce font-size by 0.2 points per each media query*/
        /*Increase height by 5px per media query*/
        font-size: 1.8rem;
        height: 65px;
    }

    h4 {
        /*Reduce font-size by 0.1 points per each media query*/
        /*Increase height by 10px for each media query*/
        font-size: 1.5rem;
        height: 70px;
        padding: 25px 15px;
    }

    span {
        /*Reduce font-size by 0.5 points per each media query*/
        font-size: 3.5rem;
    }

    li span {
        /*Reduce font-size by 0.4 points per each media query*/
        font-size: 2.6rem;
    }

    p {
        /*Reduce font-size by 0.5 points per each media query*/
        padding: 25px 0;
        font-size: 3rem;
    }

    footer p {
        /*Reduce font-size by 0.1 points per each media query*/
        /*Reduce margin by by 5px for each media query*/
        margin: 15px auto 0 auto;
        font-size: 1.5rem;
    }

    header {
        /*Reduce height by 50px per each media query*/
        height: 250px;
    }

    #web_title, #logo, nav {
        margin: 10px 0 30px 0;
    }

    #logo {
        /*Reduce width by 50px per each media query*/
        width: 170px;
    }

    li {
        margin: 0 auto 25px auto;
    }

    .beef_burgers, .chicken_burgers, .veggie_burgers {
        padding: 30px 10px 80px 10px;
    }

    .beef, .chicken, .veggie {
        width: 280px;
        margin: 15px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) and (orientation: landscape), (orientation: portrait) {
    /*****Responsiveness for tablets landscape mode*****/

    html {
        /*Reduce padding by 10px for each media query*/
        padding: 10px;
        background-color: red;
    }

    h1 {
        /*Reduce font-size by 1.2 points per each media query*/
        font-size: 4.8rem;
    }

    h2 {
        /*Reduce font-size by 0.5 points per each media query*/
        /*Reduce padding by 10px for each media query*/
        font-size: 3rem;
        padding-top: 30px;
    }

    h3 {
        /*Reduce font-size by 0.2 points per each media query*/
        /*Increase height by 5px per media query*/
        font-size: 1.6rem;
        height: 70px;
    }

    h4 {
        /*Reduce font-size by 0.1 points per each media query*/
        /*Increase height by 10px for each media query*/
        font-size: 1.4rem;
        height: 80px;
        padding: 30px 5px;
    }

    span {
        /*Reduce font-size by 0.5 points per each media query*/
        font-size: 3rem;
    }

    li span {
        /*Reduce font-size by 0.4 points per each media query*/
        font-size: 2.2rem;
    }

    p {
        /*Reduce font-size by 0.5 points per each media query*/
        /*Reduce padding by 5px per each media query*/
        padding: 20px 0;
        font-size: 2.5rem;
    }

    footer p {
        /*Reduce font-size by 0.1 points per each media query*/
        /*Reduce margin by by 5px for each media query*/
        margin: 10px auto 0 auto;
        font-size: 1.4rem;
    }

    header {
        /*Reduce height by 50px per each media query*/
        height: 200px;
    }

    #web_title, #logo, nav {
        margin: 10px 0 30px 0;
    }

    #logo {
        /*Reduce width by 50px per each media query*/
        width: 120px;
    }

    #logo img, #logo img:hover {
        border-width: 2px;
    }

    li {
        margin: 0 auto 20px auto;
    }

    .beef_burgers, .chicken_burgers, .veggie_burgers {
        padding: 20px 0 60px 0;
    }

    .beef, .chicken, .veggie {
        width: 210px;
        margin: 10px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 800px) {
    /*Responsiveness for tablets portrait mode*/
    /*Removed landscape/portrait attributes since media query was taking effect at max-width greater than 768px*/

    html {
        /*Reduce padding by 10px for each media query*/
        padding: 5px;
        background-color: green;
    }

    h1 {
        /*Reduce font-size by 1.2 points per each media query*/
        font-size: 3.6rem;
    }

    h2 {
        /*Reduce font-size by 0.5 points per each media query*/
        /*Reduce padding by 10px for each media query*/
        font-size: 2.5rem;
        padding-top: 20px;
    }

    h3 {
        /*Reduce font-size by 0.2 points per each media query*/
        /*Increase height by 5px per media query*/
        font-size: 1.4rem;
        height: 70px;
    }

    h4 {
        /*Reduce font-size by 0.1 points per each media query*/
        /*Increase height by 10px for each media query*/
        font-size: 1.3rem;
        height: 90px;
        padding: 25px 5px;
    }

    span {
        /*Reduce font-size by 0.5 points per each media query*/
        font-size: 2.5rem;
    }

    li span {
        /*Reduce font-size by 0.4 points per each media query*/
        font-size: 1.8rem;
    }

    p {
        /*Reduce font-size by 0.5 points per each media query*/
        /*Reduce padding by 5px per each media query*/
        padding: 15px 0;
        font-size: 2rem;
    }

    footer p {
        /*Reduce font-size by 0.1 points per each media query*/
        /*Reduce margin by by 5px for each media query*/
        margin: 5px auto 0 auto;
        font-size: 1.3rem;
    }

    header {
        display: block;
        height: auto;
    }

    #web_title, #logo, nav {
        margin: 10px 0 10px 0;
    }

    #web_title, nav {
        text-align: center;
    }

    #logo {
        /*Reduce width by 50px per each media query*/
        margin: auto;
        width: 70px;
    }

    #logo img, #logo img:hover {
        border-width: 2px;
    }

    li {
        margin: 0 auto 10px auto;
    }

    .beef_burgers, .chicken_burgers, .veggie_burgers {
        padding: 10px 0 40px 0;
    }

    .beef, .chicken, .veggie {
        width: 160px;
        margin: 5px;
    }
}

@media only screen and (max-width: 480px) {
    /*Responsiveness for smartphones*/
    /*Removed landscape/portrait attributes since media query was taking effect at max-width greater than 768px*/

    html {
        /*Reduce padding by 10px for each media query*/
        padding: 5px;
        background-color: blue;
    }

    h1 {
        /*Reduce font-size by 1.2 points per each media query*/
        font-size: 2.4rem;
    }

    h2 {
        /*Reduce font-size by 0.5 points per each media query*/
        /*Reduce padding by 10px for each media query*/
        font-size: 2rem;
        padding-top: 10px;
    }

    h3 {
        /*Reduce font-size by 0.2 points per each media query*/
        font-size: 1.2rem;
        height: 60px;
    }

    h4 {
        /*Reduce font-size by 0.1 points per each media query*/
        /*Increase height by 10px for each media query*/
        font-size: 1.2rem;
        height: 100px;
        padding: 20px 5px;
    }

    span {
        /*Reduce font-size by 0.5 points per each media query*/
        font-size: 2rem;
    }

    li span {
        /*Reduce font-size by 0.4 points per each media query*/
        font-size: 1.4rem;
    }

    p {
        /*Reduce font-size by 0.5 points per each media query*/
        /*Reduce padding by 5px per each media query*/
        padding: 10px 0;
        font-size: 1.5rem;
    }

    footer p {
        /*Reduce font-size by 0.1 points per each media query*/
        margin: 5px auto 0 auto;
        font-size: 1.2rem;
    }

    header {
        display: block;
        height: auto;
    }

    #web_title, #logo, nav {
        margin: 5px 0 5px 0;
    }

    #web_title, nav {
        text-align: center;
    }

    #logo {
        margin: auto;
        width: 50px;
    }

    #logo img, #logo img:hover {
        border-width: 2px;
    }

    li {
        margin: 0 auto 5px auto;
    }

    .beef_burgers, .chicken_burgers, .veggie_burgers {
        padding: 5px 0 20px 0;
    }

    .beef, .chicken, .veggie {
        width: 140px;
        margin: 10px;
    } 
}