body {
    width: 1366px;
    margin: auto;
    padding: 20px;
    background-color: black;
    color: rgb(250, 230, 50);
}

.background {
    background-image: url(images/burger_background.jpg);
    background-size: 1000px;
    background-repeat: no-repeat;  /*This is to prevent the image from being repeated in tiles over and over*/
    background-position: center;
}


/*********** HEADER ******************************************************/
header {
    display: flex;
    justify-content: space-between;
    font-family: z003, loma, sans-serif;
    padding: 50px;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(250, 150, 0);
    backdrop-filter: blur(4px);
}

a {
    color: rgb(250, 150, 0);
    text-decoration: none;
}

.logo {
    display: flex;
    font-size: 55px;
    font-weight: 700;
}

nav {
    display: flex;
    font-size: 30px;
    gap: 30px;
    align-items: center;
    justify-items: end;
}


/*********** MAIN ******************************************************/

/*********** Welcome Section ***********/
.welcome {
    display: flex;
    justify-content:space-evenly;
    font-size: x-large;
    padding: 50px;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(250, 150, 0);
    backdrop-filter: blur(4px);
}

.welcome_text {
    width: 500px;
    height: 250px;
    padding: 30px;
    border-style: ridge;
    border-width: 5px;
    border-color: rgb(250, 230, 50);
}

.welcome_video {
    width: 500px;
    height: 250px;
    padding: 30px;
    border-style: ridge;
    border-width: 5px;
    border-color: rgb(250, 230, 50);
}

iframe {
    width: 500px;
    height: 250px;
    /*iframe is used to set the actual size of the embedded video.
    Note--the dimensions of .welcome_video class above specify the dimensions of the CONTAINER itself and NOT of the actual embedded video.*/
}

/*********** Burger Links Section ***********/
.burgers {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(250, 150, 0);
    backdrop-filter: blur(4px);
}

.beef, .chicken, .veggie {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    position: relative;
}

.burger_icon_beef, .burger_icon_chicken, .burger_icon_veggie {
    width: 200px;
    height: 200px;
    margin: 0px;
    padding: 0px;
    /* To create the blurred effect ONLY on the burger image when hovering over it I had to apply the image and make it a child of .beef, .chicken, and .veggie in index.html instead of here.*/
}

.burger_icon_beef, .beef_text {
    color: rgb(250, 150, 0);
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    border-color: rgb(250, 150, 0);
    border-style: ridge;
    border-width: 2px;
    /*Since both .burger_icon_beef and .beef_text are inside .beef container AND you have specified the dimensions for .burger_icon_beef, the WIDTH for .beef_text is set to the same width as .burger_icon_beef by default since you have not specified its dimensions. The HEIGHT of .beef_text is set to the default padding of any text within a container (div class) as usual. The above is applied for .chicken_text and .veggie_text as well.*/
}

.burger_icon_chicken, .chicken_text {
    color: rgb(250, 230, 50);
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    border-color: rgb(250, 230, 50);
    border-style: ridge;
    border-width: 2px;
}

.burger_icon_veggie, .veggie_text {
    color: rgb(100, 250, 0);
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    border-color: rgb(100, 250, 0);
    border-style: ridge;
    border-width: 2px;
}

.beef_dropdown, .chicken_dropdown, .veggie_dropdown {
    display: none;
    position: absolute;
    background-color: red;
    z-index: 1;
    width: 190px;
    height: 190px;
    /* Display is set to "none" so that by default .beef_dropdown is hidden and unseen. It becomes visible the moment you hover over .beef, .chicken, and .veggie respectively*/
}

.drp_beef_links, .drp_chicken_links, .drp_veggie_links {
    display: flex;
    margin: auto;
    justify-self: center;
    align-self: center;
    padding: 10px;
    background-color: aquamarine;
    width: 160px;
    height: 160px;
}

.beef:hover .beef_dropdown, .chicken:hover .chicken_dropdown, .veggie:hover .veggie_dropdown {
    display: block;
    /* Hover attribute has to be applied to .beef and .beef_drowpdown so that both can be seen whenever you hover over .beef. Then, to blur the burger image you have to blur specifically .burger_icon_beef by itself so that you  DO NOT blur .beef_dropdown.*/
}


/*********** FOOTER ******************************************************/
footer {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    backdrop-filter: blur(4px);
}

.credits_text {
    font-size: 24px;
}

.credits_links {
    font-size: 20px;
}




