/*********** GLOBAL RULES ******************************************************/
html {
    max-width: 2000px;
    height: auto;
    margin: auto;
    padding: 50px;
    font-size: 20px;
}

body {
    width: 99%;
    height: auto;
    margin: 0 auto;
    font-family: Lato, sans-serif;
    background-color: rgb(90, 0, 0);
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(250, 150, 0);
    transition: ease-out 0.4s;
}

a:hover {
    color: rgb(250, 230, 50);

    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0 0 30px rgb(250, 150, 0);
    transition: 0.2s;
    cursor: pointer;
}

h2 a:hover, h3 a:hover, h4 a:hover {
    font-size: 110%;
    /* Had to specify and place these selectors separately from the universal a:hover ruleset above since it was making the text in the header links also increase in size whenever hovering. It was causing displacement of other header items. */
}

header, main, footer {
    margin: auto;
}

h1 {
    margin: 0;
    font: 4rem "Uncial Antiqua", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 95%;
}

h2 {
    font: 2rem Shrikhand, sans-serif;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
}

h3 {
    font: 1rem Shrikhand, sans-serif;
    text-align: center;
    margin: auto 0;
    width: 100%;
    line-height: 60px;
    height: 60px;
}

h4 {
    font: 0.8rem sans-serif;
    background-color: antiquewhite;
    font-weight: 700;
    margin: auto;
    text-align: center;
    height: 60px;
    padding: 30px 20px;
}

span {
    font: 3rem Shrikhand, sans-serif;
}

li span {
    /*This is to override the global ruleset above; it is needed to distinguish li span from global span.*/
    font-size: 2rem;
    padding: 0;
}


/*********** HEADER ******************************************************/
header {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 300px;
    justify-content: space-around;
    background-color: rgb(90, 0, 0);
}

#web_title, #logo, nav {
    margin: 10px 0 30px 0;
}

#web_title, nav {
    width: auto;
    height: auto;
}

#web_title {
    text-align: right;
}

#logo {
    /*By specifying the width/size of the parent #logo container you can control the length/size of the child logo-link inside it so that it doesn't span the entire row by default. Otherwise, the logo-link will span the entire length of the header and not just the size of the logo image that is inside it. What you will thus end up with is "empty" sides on both sides of the logo image that are also clickable because the link (NOT the image) is expanded and taking up the entire header row even though you only see the image taking up space in the center.*/
    width: 20%;
    height: 20%;
    width: 250px;
    height: auto;
}

#logo img {
    /*You MUST specify "width" so that the image can take up x% of the entire size of the logo-link parent container it is nested in. Otherwise, if you do not specify the width the actual size of the image will be used...image's actual size is half the monitor screen!!!*/
    margin: auto;
    width: 95%;
    border: solid 5px rgb(250, 150, 0);
    border-radius: 50%;
    transition: ease-out 0.4s;
}

#logo img:hover {
    border: solid 5px rgb(250, 230, 50);
    transition: 0.2s;

    /* offset-x | offset-y | blur-radius | color */
    filter: drop-shadow(0 0 30px rgb(250, 150, 0));
    cursor: pointer;
}

ul {
    margin: 0 auto;
    padding: 0;
}

li {
    margin: 0 auto 30px auto;
    list-style-type: none;
    line-height: 95%;
    letter-spacing: 2px;
}


/*********** MAIN ******************************************************/
main {
    border-top: solid 2px rgb(60, 0, 0);
}

#banner_welcome {
    background-color: rgb(90, 0, 0);
    text-align: center;
    padding: 20px 0;
    font: 35px "Uncial Antiqua", sans-serif;
    color: rgb(240, 240, 240);
}

#beef_title, #veggie_title {
    background-color: antiquewhite;
    border-bottom: solid 2px rgb(220, 205, 185);
}

#chicken_title {
    background-color: rgb(240, 240, 250);
    border-bottom: solid 2px rgb(210, 210, 220)
}

.beef_burgers, .chicken_burgers, .veggie_burgers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 60px 100px 60px;
}

.beef_burgers, .veggie_burgers {
    background-color: antiquewhite;
}

.chicken_burgers {
    background-color: rgb(240, 240, 250);
}

.beef, .chicken, .veggie {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 360px;
    margin: 20px;
    border: solid rgb(250, 150, 0) 2px;
    background-color: rgb(120, 0, 0);

    /* 0 shadow top | 4px shadow right | 8px shadow bottom | 0px left | rgba color |
       Second set is to add another shadow layer. First shadow set will be thinner and closer to the container edges.
       Second shadow set will be thicker than the first set and will spread out more.
       Using two shadow sets gives the shadow a fade-out effect, like when you go for a haircut. */
    box-shadow: 0 4px 8px 0 rgba(120, 0, 0, 0.5), 0 12px 24px 0 rgba(120, 0, 0, 0.3);
}

.beef img, .chicken img, .veggie img {
    align-self: center;
    width: 80%;
    height: auto;
}


/*********** FOOTER ******************************************************/
footer {
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
    color: rgb(240, 240, 240);
}


/*********** CREDITS ******************************************************/

.credits_text {
    font-size: 24px;
}

.credits_links {
    font-size: 20px;
}


/*********** ABOUT ME ******************************************************/

.about_text {
    font-size: 24px;
}


/*********** COOKING INFO ******************************************************/

.cook_text {
    font-size: 24px;
}


/*********** MEDIA QUERIES ******************************************************/
@media only screen and (min-width: 1025px) and (max-width: 1550px) and (orientation: landscape), (orientation: portrait) {
    /*****Responsiveness for laptops*****/

    html {
        padding: 40px;
    }

    h1 {
        font-size: 3rem;
    }
    
    span {
        font-size: 2rem; 
    }
    
    li span {
        font-size: 1rem;
    }

    header {
        height: 220px;
    }

    #web_title, #logo, nav {
        margin: 10px 0 20px 0;
    }

    #logo {
        width: 150px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape), (orientation: portrait) {
    /*****Responsiveness for tablets*****/

    html {
        padding: 30px;
    }

    h1 {
        font-size: 2rem;
    }
    
    span {
        font-size: 1rem; 
    }
    
    li span {
        font-size: 0.75rem;
    }

    header {
        height: 150px;
        /*Keep header height and logo width ratio same*/
    }

    #web_title, #logo, nav {
        margin: 5px 0 10px 0;
    }

    #logo {
        width: 80px;
        /*Keep header height and logo width ratio same*/
    }

    #logo img {
        border-width: 2px;
    }

    #logo img:hover {
        border-width: 2px;
    }

    li {
        margin: 0 auto 20px auto;
    }
}

@media only screen and (min-width: 350px) and (max-width: 768px) {
    /*Responsiveness for smartphones*/
    /*Removed landscape/portrait attributes since media query was taking effect at max-width greater than 768px*/
    html {
        padding: 20px;
    }

    h1 {
        font-size: 1.25rem;
    }
    
    span {
        font-size: 1rem; 
    }
    
    li span {
        font-size:0.75rem;
    }

    header {
        display: block;
        height: auto;
    }

    #web_title, nav {
        text-align: center;
    }

    #logo {
        margin: auto;
        width: 50px;
        height: auto;
    }

    li {
        margin: 0 auto 5px auto;
    }
}